.animeBox {
    width: 0;
    height: 1px;
    animation: scaleBoxWidth 1.5s ease-in-out forwards, scaleBoxHeight 1s ease-in-out 1.5s forwards;
    border-radius: 8px;
}

.animePlay {
    opacity: 0;
    animation: appear 1s ease-in-out 2.5s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        /*
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;*/
    }
}

@keyframes scaleBoxWidth {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
        /* Largeur finale */
    }
}

@keyframes scaleBoxHeight {
    0% {
        height: 1px;
    }

    100% {
        height: 50px;
        /* Hauteur finale */
    }
}